<h2>New Restaurant!</h2>

<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category %>
  <%= f.submit "Add a restaurant", class: "btn btn-primary" %>
<% end %>

<p><%= link_to "changed your mind?", restaurants_path %></p>
